<div class="d-flex justify-content-between align-items-center flex-wrap grid-margin">
    <div>
      <h4 class="mb-3 mb-md-0">Bienvenido a las Operaciones Extranjeras</h4>
    </div>

  </div>
  
  <div class="row">
    <div class="col-12 col-xl-12 stretch-card">
      <div class="row flex-grow-1">
        <div class="col-md-4 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-baseline">
                <h6 class="card-title mb-0">Menudeo</h6>
              </div>
              <div class="row">
                <div class="col-6 col-md-12 col-xl-5">
                  <a routerLink="/operaciones/menudeo" class="d-block mt-3 text-muted">Poner una imagen</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-baseline">
                <h6 class="card-title mb-0">Intervencion</h6>
              </div>
              <div class="row">
                <div class="col-6 col-md-12 col-xl-5">
                  <a routerLink="/operaciones/intervencion" class="d-block mt-3 text-muted">Poner una imagen</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-baseline">
                <h6 class="card-title mb-0">Mesa de Cambio</h6>
              </div>
              <div class="row">
                <div class="col-6 col-md-12 col-xl-5">
                  <a routerLink="/operaciones/mesa" class="d-block mt-3 text-muted">Poner una imagen</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- row -->