<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="row align-items-start">
    <div *ngFor="let field of fields" class="col-sm-3 mb-2 position-relative">
      <label [for]="field.name" class="form-label">{{ field.label }}</label>
      <div *ngIf="field.type !== 'select'" class="input-group">
        <input
          *ngIf="field.type !== 'date'"
          [type]="field.type"
          [id]="field.name"
          [formControlName]="field.name"
          class="form-control"
          [placeholder]="field.placeholder"
        />
        <div *ngIf="field.type === 'date'" class="input-group">
          <input
            class="form-control"
            [placeholder]="field.placeholder"
            [formControlName]="field.name"
            ngbDatepicker
            #d="ngbDatepicker"
            readonly
          />
          <button
            class="input-group-text"
            type="button"
            (click)="d.toggle()"
          >
            <i class="feather icon-calendar icon-md text-muted"></i>
          </button>
        </div>
      </div>
      <select
        *ngIf="field.type === 'select'"
        [id]="field.name"
        [formControlName]="field.name"
        class="form-select"
      >
        <option *ngFor="let option of field.options" [value]="option.value">{{ option.label }}</option>
      </select>
      <div *ngIf="form.controls[field.name].touched && form.controls[field.name].invalid" class="text-danger position-absolute">
        <div *ngIf="form.controls[field.name].errors?.required">{{ field.label }} es requerido.</div>
        <div *ngIf="form.controls[field.name].errors?.pattern">{{ field.label }} no es válido.</div>
      </div>
    </div>
    <ng-content></ng-content>
  </div>
</form>
