<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
      <a routerLink="/operaciones">Operaciones-Extranjera</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">Menudeo</li>
  </ol>
</nav>

<div class="d-flex justify-content-center">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <app-generic-form
          [fields]="fields"
          [layout]="layout"
          submitLabel="Buscar"
          (formSubmit)="onSubmit($event)">

        </app-generic-form>
        <div class="col-sm-1">
            <button type="submit" class="btn btn-primary mb-3">Buscar</button>
          </div>
        <div class="row align-items-end">

          <div class="col-sm-1">
            <div class="dropdown ms-2" ngbDropdown>
              <button
                class="btn btn-link p-0 mb-3"
                type="button"
                id="dropdownMenuButton"
                ngbDropdownToggle
              >
                <i data-feather="more-vertical" appFeatherIcon></i>
              </button>
              <div ngbDropdownMenu class="px-0" aria-labelledby="dropdownMenuButton">
                <div class="px-3 py-2 d-flex align-items-center justify-content-between border-bottom">
                  <p>Opciones</p>
                </div>
                <div class="p-1">
                  <button ngbDropdownItem class="dropdown-item d-flex align-items-center py-2" (click)="openUploadModal(uploadModal)">
                    <div class="wd-30 ht-30 d-flex align-items-center justify-content-center bg-primary rounded-circle me-3">
                      <i class="feather icon-download icon-sm text-white"></i>
                    </div>
                    <div class="flex-grow-1 me-2">
                      <p>Exportar</p>
                    </div>
                  </button>
                  <button ngbDropdownItem class="dropdown-item d-flex align-items-center py-2" (click)="openExportModal(exportModal)">
                    <div class="wd-30 ht-30 d-flex align-items-center justify-content-center bg-primary rounded-circle me-3">
                      <i class="feather icon-upload icon-sm text-white"></i>
                    </div>
                    <div class="flex-grow-1 me-2">
                      <p>Cargar</p>
                    </div>
                  </button>
                  <button ngbDropdownItem class="dropdown-item d-flex align-items-center py-2 disabled">
                    <div class="wd-30 ht-30 d-flex align-items-center justify-content-center bg-primary rounded-circle me-3">
                      <i class="feather icon-x-circle icon-sm text-white"></i>
                    </div>
                    <div class="flex-grow-1 me-2">
                      <p>Anular</p>
                    </div>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-generic-table
  [headers]="['Id', 'Cedula', 'Nombre', 'Monto', 'Tasa', 'Estatus', 'Acciones']"
  [data]="operaciones"
  [keys]="['id', 'cedula', 'nombre', 'montoAComprar', 'tasaCambio', 'estatusNotificacion']"
  [actions]="[
    { icon: 'feather icon-edit', class: 'btn btn-sm btn-primary', handler: editOperacion }
  ]"
  [loading]="loading">
</app-generic-table>

<!-- Export Modal -->
<ng-template #exportModal let-modal>
  <app-generic-modal
    [title]="'Exportar'"
    [actions]="[
      { label: 'Cerrar', class: 'btn-secondary', handler: closeExportModal.bind(this, modal) },
      { label: 'Guardar cambios', class: 'btn-primary', handler: saveExportModal.bind(this, modal) }
    ]"
    (closeModal)="closeModal($event, modal)">
    <form>
      <div class="mb-3">
        <label class="form-label" for="formFile">Cargar archivo</label>
        <input class="form-control" type="file" id="formFile">
      </div>
    </form>
  </app-generic-modal>
</ng-template>

<!-- Upload Modal -->
<ng-template #uploadModal let-modal>
  <app-generic-modal
    [title]="'Cargar'"
    [actions]="[
      { label: 'Cerrar', class: 'btn-secondary', handler: closeUploadModal.bind(this, modal) }
    ]"
    (closeModal)="closeModal($event, modal)">
    <form>
      <div class="mb-3">
        <label class="form-label">Seleccione el formato</label>
        <div class="d-grid gap-2">
          <button type="button" class="btn btn-outline-primary" (click)="handleFileUpload('csv', modal)">CSV</button>
          <button type="button" class="btn btn-outline-primary" (click)="handleFileUpload('excel', modal)">Excel</button>
          <button type="button" class="btn btn-outline-primary" (click)="handleFileUpload('pdf', modal)">PDF</button>
        </div>
      </div>
    </form>
  </app-generic-modal>
</ng-template>
